
.button_container .btn{
    color: black;
    border: 0.1px solid black;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 5px;
}

.button_container .active_button {
    background-color: rgb(16, 158, 16);
    border: none;
}
.button_container .btn:hover{
    background-color: rgb(16, 158, 16);
}
.button_containe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}