    .hero{
      height:100vh;
      background-color: white;
      display: flex;
      position: relative;
     }
  
     .hero-left {
      width: 45%;
      display: flex;
      background-color: wheat;
      border-radius:0 10px 0 10px;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding-left: 45px;
      line-height: 20px;
     }
  
     .hero-left h1 {
      font-family: "Satisfy", cursive;
      font-weight: normal;
      color: #ff8e28;
      font-size: 25px;
     }
     .hero-left h2 {
      font-size: 50px;
      font-weight: 800;
      line-height: 40px;
     }
     .hero-left p {
      font-size: 20px;
      width: 60%;
     }
  
     .hero-left .img {
      padding: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      
    }
    .hero-left .img img {
      width: 90%;
      padding: 0px 10px;
      /* animation: 10s infinite imageRoate ease ; */
    }
    .button{
      display: flex;
    }
     .learnmorebtn{
      color: white;
      background-color: green;
      padding: 10px 25px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    .menubtn{
      color: white;
      background-color: rgb(251, 0, 0);
      padding: 10px 25px;
      margin-left: 20px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    .hero-right{
    position: absolute;
    display:flex ;
    bottom: 50%;
    width: 25%;
    left: 75%;
    right: 0;
  }

  .icon {
      width: 55px;
      height: 55px;
      background: #fff;
      text-align: center;
      line-height: 55px;
      border-radius: 50%;
      box-shadow: 0px 12px 8px 0px rgb(213 151 96 / 6%);
      color: #1e1d23;
      margin-left: 800px;
      cursor: pointer;
    }
  
      .hero-right  {
        flex-direction: row;
        text-align: right;
      }
      .hero-right .box {
        margin-bottom: 30px;
      }
      .hero-right span {
        text-transform: uppercase;
        font-weight: 800;
        margin: 20px;
      }
  
      .title h3{
        /* padding: 20px 0px; */
        font-family: Poppins;
        font-size: 20px;
      }
      .title p {
        font-family: Poppins;
        width:95%;
        height: 20px;   
       }

/* 
       @keyframes imageRoate {
        0%{
          transform: rotate(0deg);
        }
          50%{
            transform: rotate(360deg);
          }
       } */

@media only screen and (max-width:991px){

.hero-left{
  flex-direction: row;
  width: 100%;
  height: 50vh;
  display: block;
  text-align: center;
}

.hero-left h1 {
  margin-top: 15%;
  font-weight: normal;
  font-size: 20px;
 }
 .hero-left h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 30px;
 }
 .hero-left p {
  font-size: 20px;
  width: 100%;
  padding: 2px 100px;

 }
 .hero-left .img img {
  width: 250px;
  padding: 0px 10px;
}
.hero-left .img {
  padding: 50px;
  position: absolute;
  top: 50%;
  transform: translate(-80%, 20%);
  z-index: 0;
  
}
.hero-right{
  width: 400px;
  bottom: 15%;
  width: 30%;
  left: 65%;
  right: 0;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

       }
  