section h1 {
    font-family: "Satisfy", cursive;
    font-weight: normal;
    color: #ff8e28;
    font-size: 25px;
   }
   section h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 40px;
   }